@using systeme_gestion_isga.Features.Shared.ViewModels




<div class="pt-3 d-flex flex-column gap-1">
    @Html.Partial("_AccordionMenu", new AccordionMenuVM
    {
        Id = "dashboardMenu",
        TriggerText = "Dashboard",
        TriggerIcon = "layout-dashboard",
        Controller = "Dashboard",
        Action = "Index"
    })


    @Html.Partial("_AccordionMenu", new AccordionMenuVM
    {
        Id = "usersMenu",
        TriggerText = "Users",
        TriggerIcon = "users",
        Items = new List<MenuItemVM> {
            new MenuItemVM { Text="List Users", Icon="list", Controller="User", Action="Index" },
            new MenuItemVM { Text="Add User",   Icon="circle-plus", Controller="User", Action="Create" },
        }
    })

    @Html.Partial("_AccordionMenu", new AccordionMenuVM
    {
        Id = "academicYearMenu",
        TriggerText = "Academic Year",
        TriggerIcon = "calendar-range",
        Items = new List<MenuItemVM> {
            new MenuItemVM { Text="List Academic Years", Icon="list", Controller="AcademicYear", Action="Index" },
            new MenuItemVM { Text="Add Academic Year",   Icon="circle-plus", Controller="AcademicYear", Action="Create" },
        }
    })




    @Html.Partial("_AccordionMenu", new AccordionMenuVM
    {
        Id = "programsMenu",
        TriggerText = "Programs",
        TriggerIcon = "graduation-cap",
        Items = new List<MenuItemVM> {
            new MenuItemVM { Text="List Program", Icon="list", Controller="Program", Action="Index" },
            new MenuItemVM { Text="Add Program",   Icon="circle-plus", Controller="Program", Action="Create" },
        }
    })

    @Html.Partial("_AccordionMenu", new AccordionMenuVM
    {
        Id = "semesterMenu",
        TriggerText = "Semesters",
        TriggerIcon = "calendar-days",
        Controller = "Semester",
        Action = "Index"
    })

    @Html.Partial("_AccordionMenu", new AccordionMenuVM
    {
        Id = "modulesMenu",
        TriggerText = "Modules",
        TriggerIcon = "grid",
        Items = new List<MenuItemVM> {
            new MenuItemVM { Text="List Module", Icon="list", Controller="Module", Action="Index" },
            new MenuItemVM { Text="Add Module",   Icon="circle-plus", Controller="Module", Action="Create" },
        }
    })
    @Html.Partial("_AccordionMenu", new AccordionMenuVM
    {
        Id = "subjectsMenu",
        TriggerText = "Subjects",
        TriggerIcon = "book",
        Items = new List<MenuItemVM> {
            new MenuItemVM { Text="List Subject", Icon="list", Controller="Subject", Action="Index" },
            new MenuItemVM { Text="Add Subject",   Icon="circle-plus", Controller="Subject", Action="Create" },
        }
    })
    @Html.Partial("_AccordionMenu", new AccordionMenuVM
    {
        Id = "teachingUnitsMenu",
        TriggerText = "Teaching Units",
        TriggerIcon = "book-open",
        Items = new List<MenuItemVM> {
            new MenuItemVM { Text="List Teaching Unit", Icon="list", Controller="TeachingUnit", Action="Index" },
            new MenuItemVM { Text="Add Teaching Unit",   Icon="circle-plus", Controller="TeachingUnit", Action="Create" },
        }
    })
</div>


